/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
 	padding-top: 50px;
 }

 .main_form {
 	/*border: solid 2px rgba(45, 64, 89, 0.1);*/
 }

 .target {
 	border: solid 2px rgba(45, 64, 89, 0.1);
 	margin-left: 15px;
 	margin-right: 15px;
 }

 .submit {
 	display: none;
 }

 .target_icon {
 	font-size: 40px;
 	color: #00adb5;
 	border: 2px solid rgba(45, 64, 89, 0.1);
 	background: #fff;
 	border-radius: 50%;
 	line-height: 0;
 	/*target_icon_spaceと調整*/
 	padding: 30px;
 }

/*target_icon の下部に食い込む部分の修正用*/
 .target_icon_space {
 	height: 40px;
 }

 .title_input {
 	font-size: 28px !important;
 	height: 44px !important;
 	color: #00adb5 !important;

 	border: none !important;
 }

 .name_input {
 	font-size: 22px !important;
 	/*height => .name .form-control*/
 	font-weight: bold;
 	/*word-wrap: break-word;*/
 	resize: none;

 	border: none !important;
 }

 .name .form-control {
 	height: 43px;
 }

 .item_input {
 	font-size: 14px !important;
 	/*height: 45px !important;*/
 	/*background-color: #5bc0de !important;
 	color: #fff !important;*/
 }

 .content_input {
 	font-size: 18px !important;
 	/*height: 37px; => .content_td .form-control*/
 	resize: none;

	/*border: none !important;*/
 	overflow: hidden;
 }

 .content_td .form-control {
 	height: 37px;
 }

 .main_form {
 	margin-top: 70px;
 }

 .add {
 	border: none !important;
 }
 .del {
 	border: none !important;
 }

